<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_meta_and_links') %>
    <title>Tally</title>
  </head>
  <body>
    Welcome to Tally!
    <a href="/tally">Tally page</a>
  </body>
  <%- include('partials/_scripts') %>
</html>