<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_meta_and_links') %>
    <title>Tally</title>
  </head>
  <body>
    <main>
      <div id="dashboard" class="dashboard"></div>
      <div id="tallies">
      </div>
      <div id="statusbar">
        <!-- Timer is hidden by default -->
        <div id="timer" class="sb-item" style="display:none">
          <div class="sb-label">Timer:</div>          
          <div class="sb-text" id="remaining">00:00</div>
        </div>
        <!-- Status will show when timer is not active -->
        <div id="status" class="sb-item">
          <div class="sb-label">Status:</div>
          <div class="sb-text" id="connection">...</div>
        </div>
        <!-- Clock (always shows)-->
        <div class="sb-item">
          <div class="sb-label">Clock:</div>
          <div class="sb-text" id="reftime"></div>
        </div>
        <!-- Brand (always shows)-->
        <div id="brand" class="sb-item">
          Tally is a&nbsp;<a href="http://jowe.ca" target="_blank">jowe.ca</a>&nbsp;service!          
        </div>
      </div>
      <!-- This remains hidden - just used for grabbing the instructions when needed -->
      <div id="instructions" style="display:none">
        <div class="tl-item instructions">
          To add or remove tallies,<br>tap on the sources above!
        </div>
      </div>
    </main>
  </body>  
  <%- include('partials/_scripts') %>
</html>