<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_meta_and_links') %>
    <title>Tally</title>
  </head>
  <body>
    <main>
      <div id="dashboard" class="dashboard"></div>
      <div id="tallies">
      </div>
      <div id="statusbar">
        <div id="connection" class="sb-item">...</div>
        
        <div id="brand" class="sb-item">Brought to you by jowe.ca!</div>
      </div>
      <!-- This remains hidden - just used for grabbing the instructions when needed -->
      <div id="instructions" style="display:none">
        <div class="tl-item instructions">To add a tally, tap on a source above!</div>
      </div>
    </main>
  </body>  
  <%- include('partials/_scripts') %>
</html>