<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_meta_and_links') %>
    <title>Tally</title>
  </head>
  <body>
    <main>
      <div id="dashboard"></div>
      <div id="tallies"></div>
    </main>
  </body>  
  <%- include('partials/_scripts') %>
</html>