/* Parent elements must have height for flex to work vertically */
html, body {
  height: 100%;
}

/* Remove the left border from the first child in each section */
div:first-child {
  border-left:none;
}

/* Contains the dashboard and tallies divs */
main {
  min-height:100%;
  height:100%;

  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 10fr 80fr 40px;
  
  background-color: black;
  color:azure;  
}

/* The dashboard div */ 
#dashboard {
  /* Grid allows equal width of child boxes independent of content */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  border: 1px solid gray;
}

/* Item (box) on the dashboard div */
.db-item {
  color:rgba(255, 255, 255, 0.527);
  background-color: rgb(34, 34, 34);
  padding:5px;
  text-align: center;
  flex-grow:1;
  border-left:1px solid gray;  

  /* Center text inside the box */
  display: flex;
  justify-content: center;
  align-items: center;
}

.db-item-active {
  color: white;  
}

/* The main tallies div */ 
#tallies {
  /* Grid allows equal width of child boxes independent of content */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;

  border-left: 1px solid gray;
  border-right:1px solid gray;  
  border-bottom:1px solid gray;  

  background-color: rgb(34, 34, 34);
}

/* Item (box) on the main tallies div */
.tl-item {  
  background-color: rgb(34, 34, 34);
  padding:5px;
  flex-grow:1;
  border-left:1px solid gray;
  font-size:180%;
  
  /* Center text inside the box */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* The label on each tally (main tallies div) */
.tl_cam-name {
  padding-bottom: 1vh;
  color:rgba(255,255,255,.3);
  text-align: center;
}

/* Applied to tallies in dashboard */

:root {
  /* Set color variables so we can apply alpha values to them below */
  --red: 225, 0, 0;
  --green: 0, 150, 30;
  --gray: 110, 110, 110;
}

/* -- PGM for unselected sources in db */
.db_program {
  background-color:rgba(var(--red),.5);
}

/* -- PVW for unselected sources in db */
.db_preview {
  background-color:rgba(var(--green),.5);
}

/* -- PGM for selected sources in db */
.db_selected_program {
  background-color: rgba(var(--red),1);
}

/* -- PVW for selected sources in db */
.db_selected_preview {
  background-color: rgba(var(--green),1);
}

/* -- OFF AIR for selected sources in db */
.db_selected_ {
  background-color: rgba(var(--gray),1);
}

/* Applied to tallies in main section */

/* -- PGM */
.tl_program {
  background: rgba(var(--red),1) url('../images/on-air.png') no-repeat center center;
  background-size: contain;
}

/* -- PVW */
.tl_preview {
  background: rgba(var(--green),1) url('../images/ready.png') no-repeat center center;
  background-size: contain;
}  

/* -- Offline */
.tl_ {
  background: rgba(var(--gray),.3) url('../images/off-air.png') no-repeat center center;
  background-size: contain;
}  


/* The status bar div */ 
#statusbar {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1.2fr 1.4fr 4fr;  
  border-right:1px solid gray;  
  border-left:1px solid gray;  
  border-bottom:1px solid gray;    
}

/* Item (box) on the statusbar div */
.sb-item {
  background-color: black;
  color:gray;
  
  text-align: center;
  flex-grow:1;
  border-left:1px solid rgb(92, 92, 92);  

  
  /* Center text inside the box */
  display: flex;
  justify-content: center;
  align-items: center; 
}

.sb-label {
  position:relative;
  font-size:10px;
  z-index:3;
  top:-12px;
  left:2px;
  width:100%;
  text-align:left;
  text-transform: uppercase;
  color: rgba(255,255,255,.2);
}

.sb-text {
  position:absolute;
}

.instructions {
  font-size: 5vw;
  text-align: center;
  color:rgba(255,255,255,.5);
  align-self: center;
}


/* Timer */
.hidden {
  display:none;
}

.timer-green {
  color:lime;
  background-color:rgba(var(--green),.2);  
}

.timer-orange {
  color:orange;
  background-color:rgb(77, 42, 0);
}

.timer-red {
  color:red;
  background-color: rgba(var(--red),.2);
}