/* Parent elements must have height for flex to work vertically */
html, body {
  height: 100%;
}

/* Remove the left border from the first child in each section */
div:first-child {
  border-left:none;
}

/* Contains the dashboard and tallies divs */
main {
  min-height:100%;
  height:100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;  
  background-color: black;
  color:azure;  
}

/* The dashboard div */ 
#dashboard {
  /* This allows equal width of child boxes independent of content */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;

  flex-grow: 2;

  border: 1px solid gray;
}

/* Item (box) on the dashboard div */
.db-item {
  background-color: rgb(34, 34, 34);
  padding:5px;
  text-align: center;
  flex-grow:1;
  border-left:1px solid gray;  

  /* Center text inside the box */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The main tallies div */ 
#tallies {
  /* This allows equal width of child boxes independent of content */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;

  flex-grow: 50;
  
  border-left: 1px solid gray;
  border-right:1px solid gray;  
  border-bottom:1px solid gray;  
}

/* Item (box) on the main tallies div */
.tl-item {  
  background-color: rgb(34, 34, 34);
  padding:5px;
  flex-grow:1;
  border-left:1px solid gray;
  font-size:180%;
  
  /* Center text inside the box */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* The label on each tally (main tallies div) */
.tl_cam-name {
  padding-bottom: 1vh;
  color:rgba(255,255,255,.3);  
}

/* Applied to tallies in dashboard */
.db_program {
  background-color:red;
}

.db_preview {
  background-color:green;
}

/* Applied to tallies in main section */
.tl_program {
  background: red url('../images/on-air.png') no-repeat center center;
  background-size: contain;
}

.tl_preview {
  background: green url('../images/ready.png') no-repeat center center;
  background-size: contain;
}  

.tl_ {
  background: url('../images/off-air.png') no-repeat center center;
  background-size: contain;
}  


/* The status bar div */ 
#statusbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  flex-grow: 1;
  border-right:1px solid gray;  
  border-left:1px solid gray;  
  border-bottom:1px solid gray;    
}

/* Item (box) on the statusbar div */
.sb-item {
  background-color: black;
  color:gray;
  padding:5px;
  text-align: center;
  flex-grow:1;
  border-left:1px solid rgb(92, 92, 92);  

  /* Center text inside the box */
  display: flex;
  justify-content: center;
  align-items: center; 
}

.instructions {
  font-size: 5vw;
  padding-bottom: 30vh;
}